*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Variables */

:root {
    --bpm-color: #fff;
    --circle-color: hsla(277, 82%, 22%, 3.0);
    --pulse-from: hsla(277, 82%, 22%, 1.0);
    --pulse-to: hsla(277, 82%, 22%, 0);
    --background-color: #000;
    --text-color: #fff;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

.instructions {
    font-weight: 300;
    text-align: center;
    margin: 4%;
    color: var(--text-color);
}

.bpm-section {
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    grid-template: 50% auto / auto
}

.bpm-container {
    width: 60vh;
    height: 60vh;
    ;
    background-color: var(--circle-color);
    border-radius: 50%;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    box-shadow: var(--circle-color);
    transform: scale(1);
    margin-bottom: 10%;
}

.reset-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 20px;
    border: 2px var(--text-color) solid;
    height: 10vh;
    width: 20vw;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.reset-button:hover {
    background-color: var(--circle-color);
    color: #fff;
}

.pulse {
    animation: pulse 0.2s 1 ease-out;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 var(--pulse-from), 0 0 0 0 var(--pulse-from);
    }
    to {
        box-shadow: 0 0 0 0.35em rgba(0, 0, 0, 1), 0 0 0 1em var(--pulse-to);
    }
}

.flex-container {
    display: flex;
}

.bpm-count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    color: var(--bpm-color)
}

@media only screen and (max-width: 720px) {
    .bpm-container {
        width: 300px;
        height: 300px;
    }
    .bpm-count {
        font-size: 3em;
    }
}

@media only screen and (max-height: 720px) {
    .bpm-count {
        font-size: 3em;
    }
}